body{
    width: 100vw;
    height :100vh;
    display:flex;
    justify-content:center;
    align-items:center;

}

#first{
  height :100px;
  width:100px;
  background-color:aqua;
}
#second{
   height:100px;
   width:100px;
   background-color:aqua;
  justify-content:space-between;
}


#box{
   border: 10px;
     

}

